   /*src/app/domains/products/pages/product-detail/product-detail.component.css */
.linea-whatsapp {
  display: flex; /* Habilita Flexbox */
  gap: 6px; /* Añade espacio entre los botones (alternativa a margin) */
 /* align-items: center; /* Alinea verticalmente los elementos */
  /* Si quieres centrar los botones, puedes usar: */
  /* justify-content: center; */
}

.text1 {
margin: 0px 15px;
}
