<p>Listado de Productos admin!</p>

<div class="page-container">
  <header class="page-header">
    <h1>Listado de Productos</h1>
    <button class="navigateToGestionProductos" (click)="router.navigate(['/ingresa/producto/nuevo'])">
      + Agregar Producto
    </button>
  </header>

  <app-product-filters
    (filtersApplied)=" handleFilters($event)">

  </app-product-filters>

  <ng-container *ngIf="pagedResponse$ | async as response">

    <app-product-table
      [products]="response.content"
      (edit)="handleEdit($event)"
      (remove)="handleDelete($event)"
      (statusChange)="handleStatusChange($event)">
    </app-product-table>

    <app-pagination
      [currentPage]="response.page "
      [totalPages]="response.totalPages"
      (pageChange)="handlePageChange($event)">
    </app-pagination>

  </ng-container>

  <ng-template #loading>
    <p>Cargando productos...</p>
  </ng-template>
</div>
